@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    max-width: 1140px;
    /* background-color: blue; */
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/* Start header */

header{
    /* background-color: red; */
    position: absolute;
    left: 0px;
    right: 0px;
    border: 1px solid #423940;
    padding: 0px 15px;
    z-index: 10;
}

header .row{
    justify-content: space-between;
    align-items: center;
}

header .brand-name{
    /* background-color: blue; */
}

header .brand-name a{
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    color: #942b2b;
    text-transform: uppercase;
    position: relative;
}

header .brand-name a::before{
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

header .navber{
    /* background-color: red; */

}

header .navber ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navber ul li{
    display: inline-block;
    margin-left: 35px;
}

header .navber ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: #ffffff;
    display: block;
    font-weight: 600;
    position: relative;
}

header .navber ul li a::before{
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5 ease;
}

header .navber ul li a:hover::before{
    width: 100%;
    left: 0;
}

header .navber ul li a.active::before{

    width: 100%;
    left: 0;
}

/* End Header */

/* Start Home */

.home{
    min-height: 100vh;
    background-image: url("./image/about-me.jpg");
    background-size: cover;
    background-position: center;
    padding: 15px;
}

.home .full-screen{
    /* background-color: red; */
    min-height: 100vh;
}

.home .home-content{
    /* background-color: blue; */
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .block{
    /* background-color: red; */
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid #ffffff;
    margin-top: 50px;
}

.home .home-content .block h6{
    counter-reset: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
.home .home-content .block h1{
    counter-reset: #ffffff;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
.home .home-content .block h3{
    counter-reset: #ffffff;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
.home .home-content .block .cv-btn{
    padding-top: 20px;
}
.home .home-content .block .cv-btn a{
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
}
.home .home-content .block .cv-btn a:hover{
    background-color: #ffffff;
    color: #000000;
}
/* End Home */

/* about me  */

.about-me{
    padding: 100px 15px;
    background-color: #ffffff;
}

.about-me .section-title{
    /* background-color: #d5d5d5; */
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.about-me .section-title h1{
    /* background-color: red; */
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 10px;
    position: relative;
    /* padding-bottom: 0px; */
}

.about-me .section-title h1::before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: #febd01;
    bottom: 0px;
}

.text-uppercase{
    text-transform: uppercase;
}

.about-me .section-title p.small{
    /* background-color: blue; */
    display: block;
    font-size: 14px;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;
}

/* .about-me .about-content{
    background-color: red;
} */

.about-me .about-content .img{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.about-me .about-content .img img{
    width: 100%;
    display: block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.about-me .about-content .text{
    /* background-color: blue; */
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;
}

.about-me .about-content .text h4{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #000000;
}
.about-me .about-content .text h6{
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 15px;
    color: #000000;
}

.about-me .about-content .text h6 span{
    color: #febd01;
}

.about-me .about-content .text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 20px;
}

.about-me .about-content .text .info{
    /* background-color: #d5d5d5; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-me .about-content .text .info .list{
    /* background-color: #d5d5d5; */
    flex: 0 0 calc(50% - 15%);
    max-width: calc(50% - 15%);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid#dee2e6;
    padding-bottom: 10px;
}

.about-me .about-content .text .info .list label{
    padding-right: 10px;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
}

.about-me .about-content .text .info .list p{
    margin: 0;
}

.about-me .about-content .text .social-link{
    /* background-color: #d5d5d5; */
    padding-top: 30px;


}

.about-me .about-content .text .social-link a{
    height: 30px;
    width: 30px;
    background-color: #000000;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #000000;
    line-height: 28px;
    text-align: center;
    margin: 0 1px;
    -webkit-transform: all .5s ease;
    transition: all .5s ease;
    
}

.about-me .about-content .text .social-link a:hover{
    background-color: transparent;
}

.about-me .about-content .text .social-link a .fa{
    color: #ffffff;
    font-size: 12px;
    -webkit-transform: all .5s ease;
    transition: all .5s ease;
}

.about-me .about-content .text .social-link a:hover .fa{
    color: #000000;
}


/* Our Services */

.services{
    background-color: #f5f8fd;
    padding: 100px 0px;

}

.services .section-title{
    /* background-color: #d5d5d5; */
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.services .section-title h1{
    /* background-color: red; */
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 10px;
    position: relative;
    /* padding-bottom: 0px; */
}

.services .section-title h1::before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: #febd01;
    bottom: 0px;
}

.text-center{
    text-align: center!important;
}
.text-left{
    text-align: left!important;
}
.text-right{
    text-align: right!important;
}

.services .section-title h1::before{
    left:30%;
}

.services .service-content{
    /* background-color: red; */
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .service-content .box{
    background-color: #ffffff;
    /* background-color: rgb(40, 85, 56); */
    padding: 30px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    /* margin-bottom: 30px */
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    text-align: center;
    position: relative;
    border-radius: 5px;
}

.services .service-content .box::before{
    content: '';
    height: 2px;
    background-color: #fedb01;
    position: absolute;
    bottom: 0px;
    width: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;
}

.services .service-content .box:hover::before{
    width: 100%;
    
}

.services .service-content .box .icon{
    height: 60px;
    width: 60px;
    background-color: #febd01;
    margin: 15px auto 20px;
    border-radius: 50%;
    text-align: center;
}

.services .service-content .box .fa{
    font-size: 25px;
    color: #ffffff;
    line-height: 60px;
    
}

.services .service-content .box h5{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin: 0;
}

.services .service-content .box p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 10px 0 10px;
}


/* Start Skills */

.skills{
    padding: 100px 15px;
    background-color: #ffffff;
}

.skills .skills-content{
    /* background-color: red; */
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 30px;
}

.skills .img{
    /* background-color: red; */
    flex: 0 0 50%;
    max-width: 50%;
}

.align-items-center{
    align-items: center;
}

.skills .img img{
width: 100%;
display: block;
}
.skills .section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 10px;
    position: relative;
}

.skills .section-title h1::before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: #febd01;
    bottom: 0px;
}

.skills .skills-content .section-title p{

    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 15px 0 0;
}

.skills .skills-content .skill-box{
    /* background-color: #d5d5d5; */
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;

}

.skills .skills-content .skill-box h6{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 8px;

}

.skills .skills-content .skill-box .skill-bar{
    height: 5px;
    background-color: #eeeeee;
    position: relative;
}


.skills .skills-content .skill-box .skill-bar .skill-bar-in{
    background-color: #febd01;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.skills .skills-content .skill-box .skill-bar .skill-bar-in span{
    color: #838383;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: -30px;
}

/* Portfolio Work */
.portfolio{
    background-color: #f5f8f5
    
}
